<?xml version="1.0"?>

<launch>

    <arg name="ROBOT_REAL" default="$(optenv ROBOT_REAL false)" />

	<!-- PEIN Perception -->
	<include file="$(find pein_supervisor)/launch/start.launch" />

	 <!-- face segmentation -->
	<include file="$(find pein_face_recognition)/launch/start.launch" />
	
	<!-- Template matching -->
	<node pkg="pein_template_matching" type="detection_node" name="template_matching" args="-C Demo"/>		

	<arg name="ROBOT_MAP" default="$(optenv ROBOT_MAP robotics_testlab_A)" /> 
     
    <node name="loc_map_server" pkg="map_server" type="map_server" args="$(find amigo_maps)/maps/$(arg ROBOT_MAP)/loc/yaml" output="screen">
	<remap from="/map" to="/loc_map"/>
    </node>

    <node name="nav_map_server" pkg="map_server" type="map_server" args="$(find amigo_maps)/maps/$(arg ROBOT_MAP)/nav/yaml" output="screen">
	<remap from="/map" to="/nav_map"/>
    </node>
	
	<!-- Localization -->
	<!-- include file="$(find amigo_launch_files)/launch/middleware/localization.launch" / -->

	<!-- Navigation -->
	<include file="$(find amigo_launch_files)/launch/middleware/base_navigation.launch" />
	
	<!-- Inverse reachability -->
	<include file="$(find amigo_launch_files)/launch/middleware/inverse_reachability.launch" />
		
	<!-- Arm & gripper control -->
	<include file="$(find amigo_launch_files)/launch/middleware/arms.launch" />
	
	<!-- Head control -->
	<include file="$(find amigo_launch_files)/launch/middleware/head.launch"/>	

	<!-- Spindle -->
	<include file="$(find amigo_launch_files)/launch/middleware/spindle.launch" />	

	<!-- Reasoner (including World Model) -->
	<include file="$(find amigo_launch_files)/launch/middleware/reasoner.launch"/>

	<!-- Node to attach world model object to gripper-->
	<!--node pkg="obj_in_gripper" type="obj_in_gripper_pub" name="obj_in_gripper"/-->
	
	<!-- Start text to speech -->
    <include file="$(find amigo_launch_files)/launch/interaction/text_to_speech.launch" />	

</launch>
