<?xml version="1.0"?>
<launch>

    <arg name="teleport" default="false"/>
    <arg name="localization" default="true"/>

    <arg name="env" default="$(optenv ROBOT_ENV robotics_testlab_A)" />
    <arg name="robot_init_x" default="$(optenv ROBOT_INIT_X 0)"/>
    <arg name="robot_init_y" default="$(optenv ROBOT_INIT_Y 0)"/>
    <arg name="robot_init_phi" default="$(optenv ROBOT_INIT_PHI 0)"/>

    <arg name="init_pos_args" value="--x $(arg robot_init_x) --y $(arg robot_init_y) --rz $(arg robot_init_phi)"/>

    <arg if="$(arg localization)" name="simulator_args" value="$(arg init_pos_args)"/>
    <arg unless="$(arg localization)" name="simulator_args" value="no-loc $(arg init_pos_args)"/>

    <!-- load robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find amigo_robot_model)/description/robot_complex.urdf.xacro' " />

    <!-- load robot joint group info -->
    <rosparam file="$(find amigo_robot_model)/description/joint_groups.yaml" command="load" />

    <!-- SIMULATION -->

    <!-- gdb -ex run DASH DASH args -->
    <node name="fast_simulator" pkg="fast_simulator" type="simulator" args="$(arg simulator_args)" output="screen" launch-prefix=""/>

    <node if="$(arg teleport)" name="amigo_teleporter" pkg="fast_simulator" type="amigo_teleporter"/>

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>
     
    <node name="fast_simulator_map_server" pkg="map_server" type="map_server" args="$(find fast_simulator_data)/worlds/$(arg env)/yaml" output="screen">
    	<remap from="/map" to="/fast_simulator/map"/>
    </node>

    <!-- Required simulation parameter -->
    <param name="/use_sim_time" value="false"/>

 </launch>
  
